/nginx-proxy-certbot-docker/acme/
/nginx-proxy-certbot-docker/certs/
/nginx-proxy-certbot-docker/html/
/nginx-proxy-certbot-docker/vhost/
**/*.mp3
**/*.txt
**/*.txt2
/dropcaster-docker/audio/**/*
!/dropcaster-docker/audio/channel.yml
!/dropcaster-docker/audio/index.html
!/dropcaster-docker/audio/autumn-forest-400-400.jpg
/dropcaster-docker/audio-aws/**/*
!/dropcaster-docker/audio-aws/channel.yml
!/dropcaster-docker/audio-aws/index.html
!/dropcaster-docker/audio-aws/autumn-forest-400-400.jpg
/*.json
!/request*.json
/dropcaster-docker/new-index.rss
/dropcaster-docker/new-index-aws.rss
/other-sites/