[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
imap-tools = "*"
trafilatura = "*"
youtube-dl = {editable = true, ref = "195f22f679330549882a8234e7234942893a4902", git = "https://github.com/ytdl-org/youtube-dl.git"}
requests-html = "*"

[dev-packages]

[requires]
python_version = "3.8"
