services:
    nginx-proxy:
        restart: always
        ports:
            - '8090:80'
            - '8093:443'
            - '80:80'
            - '443:443'
        volumes:
            - './certs:/etc/nginx/certs'
            - './vhost:/etc/nginx/vhost.d'
            - './html:/usr/share/nginx/html'
            - '/var/run/docker.sock:/tmp/docker.sock:ro'
        image: nginxproxy/nginx-proxy
    acme-companion:
        restart: always
        volumes_from:
          - nginx-proxy
        volumes:
            - './acme:/etc/acme.sh'
            - '/var/run/docker.sock:/var/run/docker.sock:ro'
        environment:
            DEFAULT_EMAIL: ${GMAIL_PRIMARY_ACCOUNT}
            ACME_CHALLENGE: DNS-01
            ACMESH_DNS_API_CONFIG: |-
                DNS_API: dns_cf
                CF_Token: ${CF_TOKEN}
                CF_Account_ID: ${CF_ACCOUNT_ID}
        image: nginxproxy/acme-companion
    podcast_primary:
        restart: always
        environment:
            - "VIRTUAL_HOST=${PODCAST_DOMAIN_PRIMARY}"
            - "LETSENCRYPT_HOST=${PODCAST_DOMAIN_PRIMARY}"
        volumes:
            - '../dropcaster-docker/audio:/usr/share/nginx/html'
        image: nginx

networks:
    nginx-proxy-certbot-docker_default:
